.chat {
  border-top: 1px solid grey;
  &__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
.focused {
  -webkit-transition: all .15s;
  transition: all .15s;
  background-color: rgba(130, 219, 158, 0.85) !important;
}
