
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#1f222e), to($deep));
  background: linear-gradient(90deg, #1f222e 0%, $deep 100%);
  border-radius: 2px;
  border-top: 4px solid $light;
  height: 450px;
  width: 350px;
  -webkit-box-shadow: 0px .8rem 2rem #111;
          box-shadow: 0px .8rem 2rem #111;
  &__title {
    color: white;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-weight: bold;
    padding: 2rem;
    font-size: 32px;
    -webkit-transform: translateX(0%) translateY(-25%);
            transform: translateX(0%) translateY(-25%);
    &:before, &:after {
      content: '';
      padding: .9em .4em;
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      border: 15px solid $green;
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-5deg);
              transform: translateX(-50%) translateY(-50%) rotate(-5deg);
      // animation: 1s forwards alternate-reverse cubic-bezier(0.9, 0.2, 0.3, 1.0) turnt;
    }
    &:before {
      border-color: $deep white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      z-index: -1;
    }
    &:after {
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) white $deep;
      -webkit-box-shadow: 1rem 1rem 2rem rgba(46, 46, 49, .6);
              box-shadow: 1rem 1rem 2rem rgba(46, 46, 49, .6);
    }
  }
  & h4 {
    color: #999;
    padding-top: 1rem;
  }
  &__email, &__password, &__username {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: .5rem;
    & > input {
      letter-spacing: 2px;
      font-weight: bold;
      outline: none;
      width: 50%;
      height: 40px;
      border-radius: 1px;
      background: transparent;
      padding: 10px 25px;
      border: 2px solid $light;
      color: $light;
      text-transform: uppercase;
      font-size: 11px;
      -webkit-transition: all .25s;
      transition: all .25s;
      &:focus {
        border: 2px solid $green;
      }
      &:hover {
        background: rgba(0,0,0,.2);
        border: 2px solid $green;
      }
    }
  }
  &__submit {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 1rem;
    border-radius: 2px;
    background: transparent;
    padding: 10px 50px;
    border: 2px solid $green;
    color: $green;
    text-transform: uppercase;
    font-size: 11px;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .25s;
    transition: all .25s;
    &:hover {
      background: $deep;
      border: 2px solid $light;
      color: #fff;
    }
  }
  &__register {
    color: #fff;
    font-size: 14px;
    & > a {
      text-decoration: none;
      // color: $deep;
      -webkit-transition: all .25s;
      transition: all .25s;
      &:hover {
        color: $light;
        letter-spacing: 1px;
      }
    }
  }
}
